/*------------------------------------------------------------------------
| Globals
------------------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #F5F5F5;
  color: #67727A;
  margin: 0;
  height: 100%;
}
/*------------------------------------------------------------------------
| fonts
------------------------------------------------------------------------*/
body {
  font-family: 'Alegreya', sans-serif;
}
/*------------------------------------------------------------------------
| Content
------------------------------------------------------------------------*/
#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}
/*------------------------------------------------------------------------
| Media
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
| Mixins
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
| Variables
------------------------------------------------------------------------*/
